
#localVideo, #localVideo video {
    position: relative;
    width: 250px;
    height: 200px;
}

.remoteVideo, .remoteVideo video {
    position: relative;
    width: 400px;
    height: 300px;
}

.volume_bar {
    position: absolute;
    width: 0px;
    height: 5px;
    left: 0px;
    bottom: 0px;
    background-color: #12acef;
    z-index: 8;
}

#allowHelper div{
    position: absolute;
    width: 50%;
    left: 25%;
}

.buttons_bar {
    position: absolute;
    width: 40%;
    left:30%;
    z-index: 9;
}
.buttons_bar img{
    position: relative;
    width: 20px;
    padding: 0px;
    margin-left: 5px;
}

.peer_muted_audio {
    background-image:url('images/audio_off.png');
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 9;
    bottom: 0px;
}

.peer_muted_video {
    background-image:url('images/offline.jpg');
    background-size:400px 300px;
    background-repeat:no-repeat;
    position: absolute;
    width:100%;
    height:100%;
    z-index: 8;
    top:0px;
}

#version{
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 10px;
}

.screenName {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    text-shadow: -1px 0 #AEF089, 0 1px #AEF089, 1px 0 #AEF089, 0 -1px #AEF089;
    font-size:150%;
}

.chatContainer {
    float: right;
}

#chatText{
    width: 300px;
    height: 300px;
    overflow-y: scroll;
}

#inputText{
    width: 300px;
}
